NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdxbnpqd3dmYW9wZm9pbHZ4YmNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDkyNzY4MzksImV4cCI6MTk2NDg1MjgzOX0.dDBY5Vmz49jraifyOnCjLZ5Q27245c6AcFHqCf2BYOY
NEXT_PUBLIC_SUPABASE_URL=https://gqnzjwwfaopfoilvxbcm.supabase.co
NEXT_PUBLIC_PINATA_API_KEY=091c9558daf054f7c960
NEXT_PUBLIC_PINATA_API_SECRET=1c5924832f080d786596eb0bb8ae3fb2682eb785ec403b591b889436c1293d7d
NEXT_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmZWI0MDgwNy1kZjI3LTRlZWQtOGE2NS1mNWExYjZmZjQzMzYiLCJlbWFpbCI6ImtyaXN0amFuLmdybTFAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siaWQiOiJGUkExIiwiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjF9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZX0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjA5MWM5NTU4ZGFmMDU0ZjdjOTYwIiwic2NvcGVkS2V5U2VjcmV0IjoiMWM1OTI0ODMyZjA4MGQ3ODY1OTZlYjBiYjhhZTNmYjI2ODJlYjc4NWVjNDAzYjU5MWI4ODk0MzZjMTI5M2Q3ZCIsImlhdCI6MTY0OTQxMzE0Nn0.Xi9cR6_u-vTDzsXR401fn1MjKwsYfhkxXSRP0h4tDOQ
