@tailwind base;
@tailwind components;
@tailwind utilities;

#container_dashboard {
  width: calc(100% - 16rem);
  height: calc(100vh);
  margin-left: 16rem;
}

@media only screen and (max-width: 1280px) {
  #container_dashboard {
    width: 100%;
    height: calc(100vh - 64px);
    margin-left: 0;
  }
}
